---
# defaults file for eos-bridging
eos_save_running_config: true

eos_purge_vlan_trunk_groups: no
default_vlan_state: present

eos_purge_switchport_trunk_groups: no
default_switchport_state: present

resource_version: '2.2'
gather_config_commands:
  - command: 'show running-config all | exclude \.\*'
    output: 'text'
