[Unit]
Description=Automatically downloads updated ATD files and documentation
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/usr/local/bin/atd_files.sh

[Install]
WantedBy=multi-user.target
