version: "3"
services:
  uptime:
    container_name: atd-uptime
    image: us.gcr.io/beta-atds/atddocker_uptime:2.0
    restart: always
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - /etc/atd:/etc/atd:ro
    networks:
      - atd_nginx
  conftopo:
    container_name: atd-conftopo
    image: us.gcr.io/beta-atds/atddocker_conftopo:0.2
    restart: always
    networks:
      - atd_nginx
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - /etc/atd:/etc/atd:rw
      - /opt/atd/topologies:/opt/atd/topologies:ro
      - /home/arista/arista-dir:/home/arista:rw
  alertapi:
    container_name: atd-alert
    image: us.gcr.io/beta-atds/atddocker_alertapi:1.0.1
    restart: always
    ports:
      - 5000:5000
    networks:
      - atd_nginx
    environment:
      - PYTHONUNBUFFERED=1
  login:
    container_name: atd-login
    image: us.gcr.io/beta-atds/atddocker_login:2.3.2
    user: $ArID:$ArGD
    restart: always
    hostname: devbox
    networks:
      - atd_nginx
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - /etc/atd:/etc/atd:rw
      - /opt/atd/topologies:/opt/atd/topologies:ro
      - /home/arista/arista-dir:/home/arista:rw
      - /home/arista/.ssh:/home/arista/.ssh:rw
      - /opt/sftp/uploads:/opt/sftp:ro
      - /var/run/libvirt/libvirt-sock:/var/run/libvirt/libvirt-sock:ro
      - /var/lib/libvirt/images/veos:/var/lib/libvirt/images/veos:rw
  cvpupdater:
    container_name: atd-cvpupdater
    image: us.gcr.io/beta-atds/atddocker_cvpupdater:2.4.2
    user: $ArID:$ArGD
    restart: always
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - /etc/atd:/etc/atd:ro
      - /home/arista/arista-dir/cvp:/home/arista/cvp:ro
      - /opt/atd:/opt/atd:ro
      - cvp_dir:/home/arista/CVP_DATA:rw
  gitconfigletsync:
    container_name: atd-gitconfigletsync
    image: us.gcr.io/beta-atds/atddocker_gitconfigletsync:2.3.3
    user: $ArID:$ArGD
    restart: always
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - /etc/atd:/etc/atd:ro
      - /home/arista/arista-dir/cvp:/home/arista/cvp:ro
      - /opt/atd:/opt/atd:ro
      - cvp_dir:/home/arista/CVP_DATA:rw
  kvmbuilder:
    container_name: atd-kvmbuilder
    image: us.gcr.io/beta-atds/atddocker_kvmbuilder:2.4.1
    user: $AtID:$AtGD
    restart: on-failure
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - /etc/atd:/etc/atd:ro
      - /opt/atd:/opt/atd:ro
      - /home/atdadmin/KVM_scripts:/home/atdadmin/kvm:rw
  # ceosbuilder:
  #   container_name: atd-ceosbuilder
  #   image: us.gcr.io/beta-atds/atddocker_ceosbuilder:2.3.4
  #   restart: on-failure
  #   environment:
  #     - PYTHONUNBUFFERED=1
  #   volumes:
  #     - /etc/atd:/etc/atd:ro
  #     - /opt/atd:/opt/atd:ro
  #     - /opt/ceos:/opt/ceos:rw
  uilanding:
    container_name: atd-uilanding
    image: us.gcr.io/beta-atds/atddocker_uilanding:2.3.1
    restart: always
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - /etc/atd:/etc/atd:ro
      - /opt/atd:/opt/atd:ro
      - /home/arista/arista-dir/apps/uilanding:/opt/modules:ro
    networks:
      - atd_nginx
  labguides:
    container_name: atd-labguides
    image: us.gcr.io/beta-atds/atddocker_labguides:2.1.1
    restart: always
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - /etc/atd:/etc/atd:ro
      - /opt/atd:/opt/atd:ro
    networks:
      - atd_nginx
  freerad:
    container_name: atd-freeradius
    image: us.gcr.io/beta-atds/atddocker_freerad:2.0
    restart: always
    volumes:
      - /opt/atd/nested-labvm/atd-docker/freeradius/src/mods-config/files/authorize:/etc/freeradius/mods-config/files/authorize:ro
    ports:
      - "1812:1812/udp"
      - "1813:1813/udp"
  nginx:
    container_name: atd-nginx
    image: us.gcr.io/beta-atds/atddocker_nginx:2.5.1
    restart: always
    depends_on:
      - uilanding
      - jenkins
      - coder
      - nautobot
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
    volumes:
      - nginx_log:/var/log/nginx:rw
      - /etc/atd:/etc/atd:ro
      - /opt/nginx/certs:/opt/nginx/certs:ro
      - /opt/atd/nested-labvm/atd-docker/nginx/src/atd.conf:/etc/nginx/conf.d/atd.conf:ro
    networks:
      - atd_nginx
  monitor:
    container_name: atd-monitor
    image: us.gcr.io/beta-atds/atddocker_monitor:2.2
    restart: always
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - nginx
    volumes:
      - nginx_log:/var/log/nginx:ro
      - /etc/atd:/etc/atd:ro
      - /var/log/wtmp:/var/log/wtmp:ro
  jenkins:
    container_name: atd-jenkins
    image: us.gcr.io/beta-atds/atddocker_jenkins:17-20240326
    restart: always
    environment:
      - JENKINS_OPTS="--prefix=/jenkins"
    networks:
      - atd_nginx
    volumes:
      - jenkins_home:/var/jenkins_home
      - /home/arista/arista-dir/apps/coder/labfiles:/opt/labfiles:rw
      - ./jenkins/src/groovy/users.groovy.override:/usr/share/jenkins/ref/init.groovy.d/users.groovy.override:rw
  coder:
    container_name: atd-coder
    image: us.gcr.io/beta-atds/atddocker_coder:4.10.2-3.10.1-1.0.0
    restart: always
    user: $ArID:$ArGD
    command: /home/coder/project
    networks:
      - atd_nginx
    volumes:
      - /etc/atd:/etc/atd:rw
      - /home/arista/arista-dir/apps/coder/coder.yaml:/home/coder/.config/code-server/config.yaml:rw
      - /home/arista/.ssh:/home/coder/.ssh:rw
      - /home/arista/GUI_Desktop/persist:/home/coder/project/persist:rw
      - /home/arista/arista-dir/hosts:/etc/hosts:ro
      - /home/arista/arista-dir/apps/coder/labfiles:/home/coder/project/labfiles:rw
      - /home/arista/arista-dir/.ansible.cfg:/home/coder/.ansible.cfg:rw
      - /opt/sftp/uploads:/opt/sftp:ro
      - /var/run/libvirt/libvirt-sock:/var/run/libvirt/libvirt-sock:ro
      - /var/lib/libvirt/images/veos:/var/lib/libvirt/images/veos:rw
  ssh:
    container_name: atd-ssh
    image: us.gcr.io/beta-atds/atddocker_ssh:2.0
    restart: always
    networks:
      - atd_nginx
    volumes:
      - /home/arista/arista-dir/apps/ssh/web.json:/opt/webssh2/app/config.json:ro
  webui:
    container_name: atd-webui
    image: jlesage/firefox:latest
    privileged: true
    shm_size: 512M
    restart: always
    volumes:
      - "/home/arista/arista-dir/apps/webui:/config:rw"
    networks:
      - atd_nginx
  nautobot:
    container_name: atd-nbot-ui
    image: "networktocode/nautobot:1.5-py3.9"
    env_file:
      - ./nautobot/nbot-local.env
    networks:
      - atd_nginx
    ports:
      - "8080:8080"
    restart: "unless-stopped"
    volumes:
      - nautobot:/opt/nautobot:rw
      - "/opt/atd:/opt/atd:rw"
  nautobot-worker:
    container_name: atd-nbot-worker
    image: "networktocode/nautobot:1.5-py3.9"
    entrypoint: "sh -c 'nautobot-server celery worker'"
    healthcheck:
      interval: "5s"
      timeout: "5s"
      start_period: "5s"
      retries: 3
      test: ["CMD", "nautobot-server", "health_check"]
    env_file:
      - ./nautobot/nbot-local.env
    volumes:
      - /opt/atd/nested-labvm/atd-docker/nautobot/nautobot_config.py:/opt/atd/nested-labvm/atd-docker/nautobot/nautobot_config.py:ro
    depends_on:
      - "nautobot"
      - "redis-queue"
    restart: "unless-stopped"
  redis-cacheops:
    container_name: atd-nbot-redis-cacheops
    image: "redis:alpine"
    env_file:
      - ./nautobot/nbot-local.env
    command:
      - "sh"
      - "-c"  # this is to evaluate the $REDIS_PASSWORD from the env
      - "redis-server --appendonly yes --requirepass $$NAUTOBOT_REDIS_PASSWORD"  ## $$ because of docker-compose
    restart: "unless-stopped"
  nautobot-beat:
    container_name: atd-nbot-beat
    image: "networktocode/nautobot:1.5-py3.9"
    entrypoint: "sh -c 'nautobot-server celery beat'"
    healthcheck:
      interval: "5s"
      timeout: "5s"
      start_period: "5s"
      retries: 3
      test: ["CMD", "nautobot-server", "health_check"]
    volumes:
      - /opt/atd/nested-labvm/atd-docker/nautobot/nautobot_config.py:/opt/atd/nested-labvm/atd-docker/nautobot/nautobot_config.py:ro
    depends_on:
      - "nautobot"
      - "redis-queue"
    env_file:
      - ./nautobot/nbot-local.env
    restart: "unless-stopped"
  redis-queue:
    container_name: atd-nbot-redis-queue
    image: "redis:alpine"
    ports:
      - "6379:6379"
    env_file:
      - ./nautobot/nbot-local.env
    command:
      - "sh"
      - "-c"  # this is to evaluate the $REDIS_PASSWORD from the env
      - "redis-server --appendonly yes --requirepass $$NAUTOBOT_REDIS_PASSWORD"  ## $$ because of docker-compose
    restart: "unless-stopped"
  postgres:
    container_name: atd-nbot-postgres
    image: "postgres:10"
    ports:
      - "5432:5432"
    env_file:
      - ./nautobot/nbot-local.env
    volumes:
      - "postgres_data:/var/lib/postgresql/data"
    restart: "unless-stopped"
networks:
  atd_nginx:
volumes:
  atd_labguides:
  atd_http:
  jenkins_home:
  cvp_dir:
  nginx_log:
  postgres_data:
  nautobot:
