[Unit]
Description=Automatically updates configlets
Requires=cvpUpdater.service
After=cvpUpdater.service

[Service]
Type=forking
ExecStart=/usr/local/bin/gitConfigletSync.py
User=arista
TimeoutStartSec=infinity
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
