ansible_collections/
intended/structured_configs/s1-brdr1-debug-vars.yml
intended/structured_configs/s1-brdr2-debug-vars.yml
intended/structured_configs/s1-core1-debug-vars.yml
intended/structured_configs/s1-core2-debug-vars.yml
intended/structured_configs/s1-host1-debug-vars.yml
intended/structured_configs/s1-host2-debug-vars.yml
intended/structured_configs/s1-leaf1-debug-vars.yml
intended/structured_configs/s1-leaf2-debug-vars.yml
intended/structured_configs/s1-leaf3-debug-vars.yml
intended/structured_configs/s1-leaf4-debug-vars.yml
intended/structured_configs/s1-spine1-debug-vars.yml
intended/structured_configs/s1-spine2-debug-vars.yml
intended/structured_configs/s2-brdr1-debug-vars.yml
intended/structured_configs/s2-brdr2-debug-vars.yml
intended/structured_configs/s2-core1-debug-vars.yml
intended/structured_configs/s2-core2-debug-vars.yml
intended/structured_configs/s2-host1-debug-vars.yml
intended/structured_configs/s2-host2-debug-vars.yml
intended/structured_configs/s2-leaf1-debug-vars.yml
intended/structured_configs/s2-leaf2-debug-vars.yml
intended/structured_configs/s2-leaf3-debug-vars.yml
intended/structured_configs/s2-leaf4-debug-vars.yml
intended/structured_configs/s2-spine1-debug-vars.yml
intended/structured_configs/s2-spine2-debug-vars.yml
group_vars/CVP/CVP_CRED.yml
group_vars/EOS/EOS_CRED.yml
group_vars/ATD_FABRIC/AAA.yml