.login-ui .login-dialog .logo {
        background-image: url('app/ext/aristalogin/images/Arista-Logo-144.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 9em;
	-webkit-background-size: 9em auto;
}
div.login-ui {
	background: #666;
	background-color: #666;
}
.login-ui .login-dialog {
	background-color: white;
}
