[Unit]
Description=Creates a new lab UI for modules
After=gitConfigletSync.service

[Service]
Type=forking
ExecStart=/usr/local/bin/labModule.py
User=arista
TimeoutStartSec=900
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
