<html>
  <head>
    <title>Arista Test Drive | {{ MOD_NAME }}</title>
    {% for script in JS %}
      {% raw script %}
    {% end %}
    {% for style in CSS %}
      {% raw style %}
    {% end %}
    <link rel="stylesheet" type="text/css" href="module/atd.css">
    <script>
      function displayHint(event) {
        var current_state = document.getElementById('hint').style.display;
        var w = 200;
        var h = 30;
        var x = event.clientX - Math.round(w / 2);
        var y = event.clientY - ( h + 20 );
        if ( current_state == 'none' ) {
          document.getElementById('hint').style.display = 'block';
          document.getElementById('hint').style.top = y;
          document.getElementById('hint').style.left = x;
          document.getElementById('hint').style.width = w;
          document.getElementById('hint').style.height = h;
        }
        else {
          document.getElementById('hint').style.display = 'none';
        }
      }
    </script>
  </head>
  <body>
    <div id="content">
      <h1>Arista Test Drive | {{ MOD_NAME }}</h1>
      <img src="{{ MOD_IMG }}" usemap="#image_map">
      <div class="detail" style="display: none;" id="hint">Click on the node for access:</div>
      <map name="image_map">
        {% for node in NODES %}
          {% if node == "CVP" %}
            <area onmouseover="displayHint(event)" onmouseout="displayHint(event)" alt="{{ escape(node) }}" title="{{ escape(node) }}" href="https://{{ NODE_IP }}" target="_blank" coords="{{ escape(NODES[node]['coords']) }}" shape="rect">
          {% else %}
	          <area onmouseover="displayHint(event)" onmouseout="displayHint(event)" alt="{{ escape(node) }}" title="{{ escape(node) }}" href="http://{{ NODE_IP }}/ssh/host/{{ escape(NODES[node]['ip']) }}" target="_blank" coords="{{ escape(NODES[node]['coords']) }}" shape="rect">
          {% end %}
        {% end %}
      </map>
      <div class="access">
        <p><b>To access the device, click on the device icon above:</b><br />
        </p>
      </div>
    </div>
    {% raw LABGUIDE %}
  </body>
</html>