<html>
  <head>
    <title>Arista Test Drive | {{ MOD_NAME }}</title>
    {% for script in JS %}
      {% raw script %}
    {% end %}
    {% for style in CSS %}
      {% raw style %}
    {% end %}
    <link rel="stylesheet" type="text/css" href="module/atd.css">
  </head>
  <body>
    <div id="content">
      <h1>Arista Test Drive | {{ MOD_NAME }}</h1>
      <img src="{{ MOD_IMG }}" usemap="#image_map">
      <map name="image_map">
        {% for node in NODES %}
          {% if node == "CVP" %}
            <area alt="{{ escape(node) }}" title="{{ escape(node) }}" href="https://{{ NODE_IP }}" target="_blank" coords="{{ escape(NODES[node]['coords']) }}" shape="rect">
          {% else %}
            <area alt="{{ escape(node) }}" title="{{ escape(node) }}" href="http://{{ NODE_IP }}/ssh/host/{{ escape(NODES[node]['ip']) }}" target="_blank" coords="{{ escape(NODES[node]['coords']) }}" shape="rect">
          {% end %}
        {% end %}
      </map>
    </div>
    {% raw LABGUIDE %}
  </body>
</html>
