body {
    background-color: #FFFFFF;
    color: #002859
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(#6d94bf, #446e9b 50%, #002859);
    background-image: -o-linear-gradient(#6d94bf, #446e9b 50%, #002859);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6d94bf), color-stop(50%, #446e9b), to(#002859));
    background-image: linear-gradient(#6d94bf, #446e9b 50%, #002859);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d94bf', endColorstr='#ff002859', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid #345578;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3)
}

.navbar-brand {
    background: url("arista_logo_320by52.png") center / contain no-repeat;
    display: inline-block;
    width: 1px;
    padding: 0 10px 0 60px;
    margin-right: 30px;
    margin-left: -30px;
}

.navbar-brand>img {
    display: inline-block;
    padding: 0 100px 0 0px;
    margin-right: 20px;
}
a.navbar-brand {
    display: inline-block;
    padding: 15px 0 0 120px;
}

footer {
    background-color: #002859;
    color: #FFFFFF;
}
