body {
  width: 1000px;
  margin: auto;
  line-height:21px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#content {
  width: 100%;
}

#content h4 {
  color:rgb(147,149,152);
}

.access {
  display: block;
  width: 100%;
  background-color: rgb(156, 207, 151);
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  border-style: none;
}

.detail {
  position: absolute;
  background-color: rgb(230, 230, 230);
  margin: 20px;
  padding: 5px;
}