[Unit]
Description=Automatically updates the CVP self-signed cert
After=atdFiles.service

[Service]
Type=forking
ExecStart=/usr/local/bin/sslUpdater.py
TimeoutStartSec=180
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
