[Unit]
Description=Automatically configures CVP with EOS devices depending on the topology
After=atdFiles.service

[Service]
Type=forking
ExecStart=/usr/local/bin/cvpUpdater.py
User=arista
TimeoutStartSec=900
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
