[Unit]
Description=Automatically downloads updated ATD files and documentation

[Service]
Type=forking
ExecStart=/usr/local/bin/atdFiles.sh
TimeoutStartSec=180
Restart=on-failure

[Timer]
OnStartupSec=180

[Install]
WantedBy=multi-user.target
