[Unit]
Description=Automatically downloads updated ATD files and documentation
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/usr/local/bin/atdFiles.sh
TimeoutStartSec=900
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
